---
import '@unocss/reset/tailwind.css'
import '../styles/prose.css'
import '../styles/uno.css'

import { site } from '../config/gumori'

const { page, post } = Astro.props
const title = page
	? page.url.current === '/'
		? site.title
		: `${page.url.current} - ${site.title}`
	: `${post.frontmatter.title ?? post.frontmatter.path} - ${site.title}`
const description = page ? site.description : post.frontmatter.summary
const permalink = site.url + (page ? page.url.current : post.frontmatter.path)
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="generator" content="gh:importantimport/gumori" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" />
<link rel="sitemap" type="application/xml" href="/sitemap.xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={page ? 'website' : 'article' } />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Photo -->
{post?.frontmatter?.photo && (
<meta property="og:image" content={post.frontmatter.photo} />
<meta property="twitter:card" content="summary_large_image" />
)}

<!-- PWA -->
<script src="/src/scripts/pwa.ts"></script>